<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/~tr88/events/styles/landing.css">
    <link rel="stylesheet" href="/~tr88/events/styles/dashboard.css">
    <link rel="stylesheet" href="/~tr88/events/styles/profile_view.css">
  </head>
  <body onload="initDashBoard()">

    <div id="dasboard_cotainer" class="dashboard_container">

      <div id="dashboard_header">
        <div id="dash_board_logo">EVENTS! @ NJIT</div>
      </div>
      <div class="sub_header">
        <div id="username" class="dashboard_theme_username"></div>
        <img id="profile_header_image" class="profile_image" src="/~tr88/events/images/default_user.jpg" onclick="showProfileView()"></img>
        <div id="dashboard_menu_button" class="menu_button" onclick="showDashMenu()"></div>
        <div id="search_bar"><input id="search_value" type="text" value="" placeholder="search"></input>
        <button onclick="doSearch('events_list_container')">search</button></div>
      </div>
      <div id="dashboard_menu" class="dashboard_menu">
          <ul>
            <li onclick="initCreateEvent()">Create Event</li>
            <li onclick="showProfileView()">Edit Profile</li>
            <li onclick="signOut()">Sign out</li>
          <ul>
      </div>

      <div id="recommendEvents" class="events_container">
          <div id="events_bar" class="events_bar">
              <button onclick="getRecommendedEvents()">Recommended</button><button>Friends</button><button onclick="getFutureEvents('events_list_container')">all</button>
          </div>
            <div id="events_list_container" class="events_list_container">
                <!--TODO create javascript to autopopulate-->
                <div id="event_0" class="event_list_view">
                    <h1 id="event_title"></h1>
                    <p id="event_description"></p>
                    <h2 id="start_time_header">starts: <span id="event_startDateTime"></span></h2>
                    <h2 id="end_time_header">ends: <span id="event_startDateTime"></span></h2>
                </div>
            </div>
      </div>

      <div id="myEvents" class="my_events_container">
        <div id="events_bar" class="events_bar">
          <button onclick="populateWithMyEvents('myEvents')">My Events</button>
          <button onclick="populateWithGoingTo('myEvents')">Going</button>
          <button onclick="populateWithWentTo('myEvents')">Went</button>
        </div>
      </div>

      <div id="my_upcoming_events"class="myCalendar"></div>
<!--fixed create event form, only displays when user wants to create an event -->
      <div id="createEventForm" class="create_event_container">
        <div class="event_creation_form">
            <div id="form_container">
            <div id="event_creation_header">Event Creation Form</div>
            <form id="event_create_form">
              <div id="input_area">
                <input  type="text" id="name" method="POST" name="name" value="" placeholder="event name"></input>
                <textarea  type="text" id="bio" method="POST" name="bio" value="" placeholder="about event"></textarea>
                <div id="event_creation_header">starts</div>
                <input  type="date" id="start_date" method="POST" name="start_date" value="" placeholder="date"></input>
                <input type="time" id="start_time" name="start_time"></input>
                <div id="event_creation_header">ends</div>
                <input  type="date" id="end_date" method="POST" name="end_date" value="" placeholder="date"></input>
                <input type="time" id="end_time" name="end_time"></input>
                <input  type="text" id="location" method="POST" name="location" value="" placeholder="location"></input>
                <div id="image_upload_container">
                  <p id="image_label">image: </p>
                  <input  type="file" id="upload_image" name="upload_image" placeholder="image url"></input>
                </div>
              </div>
            </form>
            <div class = "form_button_wrapper">
              <button id="close_event" class="form_buttons" style="float:left" onClick="cancelEventEntry(this)">cancel</button>
              <button id="save_event" class="form_buttons" style="float:right" onClick="makeEvent()">create</button>
            </div>
        </div>

          <div id="tags_container">
              <div class="container_wrapper">
                <div id="tag" class="profile_creater_container">
                  <h1>Let's make finding EVENTS! EASY.</h1>
                  <h2>Select some #tags that matches event type!</h2>
                  <h4>selected tags: (at least 1)</h4>
                  <div id="hashtags" class="hashtags">
                  <div id="selected_tags" class="selected_tags"></div>
                  <h4>tag selection:</h4>
                  <div id="tag_selection" class="tag_selection"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>




    <!-- user profile edit view  -->
    <div id="profile_container" class="profile_container">
      <img id="profile_close_icon" class="profile_close_icon" src="/~tr88/events/images/x_icon_red.png"
           onclick="closeProfileView(this.parentNode)"></img>
      <div id="profile_info_contianer" class="profile_info_container">
        <img  class="profile_image_full" src="/~tr88/events/images/default_user.jpg" ></img>
        <div class="user_info">
            <table>
              <tr>
                <td>name: <span id="profile_name"></span></div></td>
              </tr>
              <tr>
                <td id="username">username: <span id="profile_username"></span></td>
              </tr>
              <tr>
                <td id="email">email: <span id="profile_email"></span></td>
              </tr>
              <tr>
                <td id="password">password: update </td>
              </tr>
            </table>
          </div>
          <div id="bio">
             <span>bio: </span><br>
             <p id="profile_bio">This is a test </p>
          </div>
      </div>
      <div id="profile_tags"></div>
  </div>




<!-- end dashboard container   -->
</div>
<!-- scripts  -->
<script src="https://apis.google.com/js/client.js?onload=checkAuth">
<script src="/~tr88/events/scripts/controllers/googlecalendar.js"></script>
<script src="/~tr88/events/scripts/controllers/common.js"></script>
<script src="/~tr88/events/scripts/controllers/login.js"></script>
<script src="/~tr88/events/scripts/controllers/dashboard.js"></script>
<script src="/~tr88/events/scripts/controllers/profile_controller.js"></script>

<!-- end scripts -->
  </body>

</html>
