<!doctype html>
<html>
  <head>
     <script src="/events/scripts/controllers/dashboard.js"></script>
     <script src="/events/scripts/controllers/login.js"></script>
     <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/events/styles/landing.css">
    <link rel="stylesheet" href="/events/styles/dashboard.css">

  </head>
  <body onload="isLoggedIn()">
    <div id="dasboard_cotainer" class="dashboard_container">
      <div id="dashboard_header">
        <div id="dash_board_logo">EVENTS!</div>
      </div>

      <div id="dashboard_menu" class="dashboard_menu">
          <button id="close_menu" onclick="closeDashMenu()">X</button>
      </div>

      <div id="dashboard_menu_button" class="menu_button" onclick="showDashMenu()"></div>

  </body>

</html>
