<!doctype html>
<html>
  <head>
     <script src="/events/scripts/controllers/dashboard.js"></script>
     <script src="/events/scripts/controllers/login.js"></script>
     <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/events/styles/landing.css">
    <link rel="stylesheet" href="/events/styles/dashboard.css">

  </head>
  <body onload="isLoggedIn()">
    <div id="dasboard_cotainer" class="dashboard_container">
      <div id="dashboard_header">
        <div id="dash_board_logo">EVENTS!</div>
      </div>
      <div id="dashboard_menu_button" class="menu_button" onclick="showDashMenu()"></div>
      <div id="dashboard_menu" class="dashboard_menu">
          <div id="close_menu" onclick="closeDashMenu()">X</div>
          <ul>
            <li onclick="initCreateEvent()">Create Event</li>
            <li>Sign out</li>
          <ul>
      </div>

      <div id="recommendEvents" class="recommendEvents_container"></div>

      <div id="myEvents" class="myEvents_container"></div>

      <div id="myCalendar" class="myCalendar_container">
          <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23cc0000&amp;
          src=ph93ib3k417ulj4cu8a9mvj07o%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FNew_York"
          style="border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
      </div>

      <div id="createEventForm" class="createEvent_container">
        <div class="sign_up_box">
            <form>
              <div id="input_area">
                <input  type="text" id="name" method="POST" name="name" value="" placeholder="event name"></input>
                <input  type="text" id="bio" method="POST" name="bio" value="" placeholder="about event"></input>
                <input  type="text" id="dateAndTime" method="POST" name="dateAndTime" value="" placeholder="date and time"></input>
                <input  type="text" id="location" method="POST" name="location" value="" placeholder="location"></input>
                <input  type="text" id="image" name="" placeholder="image url"></input>
              </div>
            </form>
            <div class = "form_button_wrapper">
              <button id="close_event" class="form_buttons" style="float:left" onClick="cancelEventEntry(this)">cancel</button>
              <button id="save_event" class="form_buttons" style="float:right" onClick="saveEvent(this)">create</button>
            </div>
        </div>
      </div>


  </body>

</html>
