
<div>
    <div id="login_box" class="login_box">
        <div id="events_logo">EVENTS!</div>
              <div id="login_form">
                  <div id="input_area">
                  <input  type="text" id="user" name="user" value="" placeholder="username"></input>
                  <input  type="password" id="pass" name="" placeholder="password"></input>
                  </div>
              </div>
              <button id="login_button" ng-click="login()">Login</button>
           </div>
      <div id="sign_up">
          <a href="http://r25livepr1.njit.edu/calendar/">Join EVENTS! @ NJIT</a>
      </div>
      <div id="NJIT_logo">
          <a href="http://www.njit.edu/">
              <img src="http://www.njit.edu/corporate/uicomponents/images/logo.png" alt="NJIT LOGO"></img>
          </a>
      </div>
</div>
