<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/~tr88/events/styles/landing.css">
    <link rel="stylesheet" href="/~tr88/events/styles/tag_selection.css">
    <script src="/~tr88/events/scripts/controllers/common.js"></script>
    <script src="/~tr88/events/scripts/controllers/login.js"></script>
    <script src="/~tr88/events/scripts/controllers/profile_creater.js"></script>
</head>
<body onload="displayHashTags()" >
  <div class="container_wrapper">
    <div id="tag" class="profile_creater_container">
      <h1>Let's make finding EVENTS! EASY.</h1>
      <h2>Create a short bio:</h2>
      <textarea id="user_bio"></textarea>
      <h2>Select some #tags that matches your interests</h2>
      <h4>selected tags: (at least 1)</h4>
      <div id="hashtags" class="hashtags">
      <div id="selected_tags" class="selected_tags"></div>
      <h4>tag selection:</h4>
      <div id="tag_selection" class="tag_selection"></div>
      <button onclick="setUserInfo()">DONE</button>
      <button onclick="loadSignUp();">CANCEL</button>
    </div>
  </div>
</body>
</html>
