<!doctype html>
<html>
  <head>
    <title>Events! Sign Up</title>
    <link rel="stylesheet" href="/~tr88/events/styles/landing.css">
    <link rel="stylesheet" href="/~tr88/events/styles/sign_up.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <script src="/~tr88/events/scripts/controllers/common.js"></script>
    <script src="/~tr88/events/scripts/controllers/login.js"></script>
    <script src="/~tr88/events/scripts/controllers/profile_creater.js"></script>

  </head>
  <body>
    <div id="cotainer" class="login_container">

      <a href="/~tr88/events/index.html" class="login_events_logo">EVENTS!</a>

            <div id="sing_up_box" class="sign_up_box">
                <div id="account_picker" class="account_picker">
                  <button id="indi_button" onclick="changeSingUpForm(this)" >Individual</button><button id="org_button" onclick="changeSingUpForm(this)">Organization</button>
                </div>
                <div id="individual_sign_up_form" class="individual_sign_up_form">
                <form id="sign_up_form_indi">
                    <div id="input_area">
                    <input  type="text" id="firstname" method="POST" name="first_name" value="" placeholder="first name"></input>
                    <input  type="text" id="lastname" method="POST" name="last_name" value="" placeholder="last name"></input>
                    <input  type="text" id="username" method="POST" name="username" value="" placeholder="username"></input>
                    <input  type="text" id="email" method="POST" name="email" value="" placeholder="email"></input>
                    <input  type="password" id="password" name="" placeholder="password"></input>
                    </div>
                </form>
                <button id="join_button" onClick="indiSignUp()">create</button>
              </div>
              <div id="organization_sign_up_form" class="organization_sign_up_form">
              <form id="sign_up_form_org">
                  <div id="input_area">
                      <input  type="text" id="organization_name" method="POST" name="organization_name" value=""
                      placeholder="organization name"></input>
                      <input  type="text" id="email" method="POST" name="email" value="" placeholder="email"></input>
                      <input  type="password" id="password" name="" placeholder="password"></input>
                  </div>
              </form>
              <button id="join_button" onClick="orgSignUp()">create</button>
            </div>
              </div>
      <div id="NJIT_logo" class="login_njit_logo">
          <a href="http://www.njit.edu/">
              <img src="http://www.njit.edu/corporate/uicomponents/images/logo.png" alt="NJIT LOGO"></img>
          </a>
      </div>
  </div>

</body>
</html>
