<!doctype html>
<html>
  <head>
    <title>Events! Sign Up</title>
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/sign_up.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="sing_up_box" class="sign_up_box">
      <a href="https://web.njit.edu/~tr88/cs490project/events/">
        <div id="events_logo">EVENTS!</div>
      </a>
              <form id="login_form">
                  <div id="input_area">
                  <input  type="text" id="name" method="POST" name="name" value="" placeholder="name"></input>
                  <input  type="text" id="ucid" method="POST" name="ucid" value="" placeholder="username"></input>
                  <input  type="text" id="email" method="POST" name="email" value="" placeholder="email"></input>
                  <input  type="password" id="pass" name="" placeholder="password"></input>
                  </div>
                  <button id="join_button" onClick="signIn()">Join</button>
              </form>
    </div>


      <div id="NJIT_logo">
          <a href="http://www.njit.edu/">
              <img src="http://www.njit.edu/corporate/uicomponents/images/logo.png" alt="NJIT LOGO"></img>
          </a>
      </div>
</div>
  </body>
</html>
