/*
** Totaram Ramrattan
** CS 490 Project - Front END
*/

.dashboard_container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  height: 480px;
  background-color: #32ab9f;
}

.spinner_container{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 217px;
    left:297px;
    z-index: 999999999999;
    visibility: hidden;
}

.spinner_container img{
    width: 45px;
    height: 45px;
}
#dashboard_header{
    width: 100%;
    height: 46px;
    line-height: 46px;
    background-color: #F16600;
}

.dashboard_theme_username{
    position: absolute;
    text-align: right;
    right: 50px;
    margin-right: 65px;
    line-height: 45px;
    font-size: 12pt;
    width: 300px;
    height: 30px;
    color: white;
}

.dashboard_menu{
  z-index: 1000;
  visibility: collapse;
  padding: 5px;
  position: absolute;
  right: 0px;
  width: 100px;
  line-height: 35px;
  background-color: #32ab9f;
}

.dashboard_menu #close_menu{
  right: 0;
  color: white;
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 26pt;
  cursor: pointer;
}

.dashboard_menu ul{
  height: auto;
  margin-top: -10px;
  position: relative;
  padding: 0px;
  background-color: inherit;
}

.dashboard_menu li{
  list-style-type: none;
  overflow: hidden;
  background-color: #005D53;
  width: 100px;
  height: inherit;
  color: white;
  line-height: 30px;
  text-align: center;
  font-size: 10pt;
  margin-top: 0px;
  margin-bottom: 5px;
  cursor: pointer;
}

#dash_board_logo{
  position: absolute;
  font-weight: 400;
  font-style: normal;
  font-family: "Gravitas One";
  line-height: inherit;
  font-size: 34px;
  padding-left: 20px;
  color: white;
}

.menu_button{
    position: absolute;
    top:10px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size:contain;
    background-repeat: no-repeat;
    background-image:url("/~tr88/events/images/menu_icon.png");
}
#NJIT_logo{
    padding-top: 45px;
    padding-left: 350px;
    display: inline-block;
}


.events_container{
  position: relative;;
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
}


.my_events_container{
  display: inline-block;
  position: relative;;
  top: 5px;
  margin-bottom: 20px;
  width: 60%;
  height: 158px;
  background-color: white;
}


.myCalendar{
  margin-top: 5px;
  display: inline-block;
  float: right;
  width: 38%;
  height: 158px;
  background-color: white;
}

/* create event style */
.create_event_container{
  visibility: collapse;
  z-index: 10000;
  background-color: #009688;
  position: absolute;
  width: 100%;
  height: 460px;
}

.create_event_container #form_container{
    position: absolute;
    left: 10px;
    width: 50%;
}

.create_event_container #tags_container{
    position: absolute;
    right: 10px;
    width: 40%;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.create_event_container #tags_container h1{
  font-size: 16pt;
}

.create_event_container #tags_container h2{
  font-size: 12pt;
}


.selected_tags{
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
  width: inherit;
  height: 80px;
}

.selected_tags button{
  width: 110px;
  height: 25px;
  margin: 0px;
  text-align: center;
  line-height: 15px;
  overflow: hidden;
  font-size: 8pt;
}

.tag_selection{
  overflow-y: scroll;
  overflow-x: hidden;
  width: inherit;
  height: 80px;
}

.tag_selection button{
  width: 110px;
  height: 25px;
  margin: 0px;
  text-align: center;
  line-height: 15px;
  overflow: hidden;
  font-size: 8pt;
}

.create_event_container input{
    width: 275px;
    display: block;
    border: 1px solid #999;
    padding: 5px;
    height: 15px;
    line-height: 15px;
    font-size: 14pt;
    font-weight: 100;
    font-family: "Gravitas One";
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    color: grey;
}

.create_event_container #image_upload_container{
  width: 100%;
  height: 16px;
}

.create_event_container #upload_image{
  margin-top: -35px;
  width: 85%;
  float: right;
  height: 16px;
  background-color: white;
  font-size: 12pt;
}

.create_event_container #image_label{
  width: 25%;
  line-height: 16px;
  font-size: 12pt;
  color: white;
  height: 16px;
  float: left;
}

.create_event_container textarea{
    width: 275px;
    display: block;
    border: 1px solid #999;
    padding: 5px;
    height: 30px;
    font-size: 12pt;
    font-weight: 100;
    font-family: "Gravitas One";
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    color: grey;
}

.create_event_container #event_creation_header{
    color: white;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16pt;
    width: 275px;
}

.create_event_container #form_container button{
  background-color: #F16600;
  height: 40px;
  width: 120px;
}

.event_date{
    width: 175px;
    display: block;
    border: 1px solid #999;
    padding: 5px;
    height: 45px;
    font-size: 16pt;
    font-weight: 100;
    font-family: "Gravitas One";
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    color: grey;
}

#upload_button{
    margin-left: 70px;
    width: 80px;
    height: 20px;
}

.form_button_wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 250px;
  height: 35px;
}

.events_list_container{

    position: absolute;
    margin-top: 5px;
    width: 100%;
    height: 130px;
    white-space: nowrap;
    overflow-x: scroll;
}

.events_list_container :first-child{
    margin-left: 10px;
}

.events_list_container :last-child{
    margin-right: 10px;
}
.event_list_view{
    display: inline-block;
    margin-right: 5px;
    width: 150px;
    height: 110px;
    visibility: visible;
    color: #ffffff;
    background-color: #009688;
}

.event_list_view h1{
  font-size: 9pt;
  font-weight: 300;
  text-align: center;
}

.event_list_view p{
  font-size: 7pt;
  font-weight: normal;
  text-align: center;
}

.events_bar{
    width: 100%;
    height: 30px;
    border-bottom-width: thin;
    border-bottom-color: red;
    border-bottom-style: solid;
}

button{
    cursor: pointer;
}
.events_bar button{
    width: 100px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}
.events_bar :first-child{
    margin-left: 5px;
}

.sub_header{
    z-index: 1001;
    position: absolute;
    height: 45px;
    margin-top: 10px;
    width: 100%;
}

.sub_header #search_bar{
    width: 50%;
    height: inherit;
    padding: 10px;
    padding-left: 10px;
}
.sub_header #search_bar input {
    width: 300px;
    height: 30px;
    font-size: 12pt;
    display: inline-block;
}

.sub_header #search_bar button{
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.myCalendar{
  width: 38%;
  background-color: white;
  padding-bottom: 0px;
}
.myCalendar input{
    width: 95%;
    display: block;
    border: 1px solid #999;
    padding: 5px;
    margin-bottom: 0px;
    height: 20px;
    line-height: 20px;
    font-size: 16pt;
    font-weight: 100;
    font-family: "Gravitas One";
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    color: grey;
}

.calendar_wrapper{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 75%;
  white-space: nowrap;
  overflow-y: scroll;
}

.calendar_event{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #4d4dff;

}

.calendar_event h1{
  color: white;
  font-size: 8pt;
  font-style:normal;
}

.calendar_event h2{
  color: white;
  font-size: 8pt;
  font-style:normal;
  font-weight: lighter;

}
