.dashboard_header{
    width: 100%;
    height: 100px;
    background-color: red;
}

.events_heading{
    font-family: 'Slabo 27px', serif;
    font-weight: 200;
    width: 90%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    font-size: 16pt;
    color: white;
}
.events_view{
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
