.dashboard_container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 768px;
}

#dashboard_header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: red;
}


.dashboard_menu{
  z-index: 100000;
  visibility: collapse;
  margin-top: 5px;
  position: absolute;
  right: 0;
  height: 400px;
  width: 200px;
}

.dashboard_menu #close_menu{
  right: 0;
  color: white;
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 26pt;
}

.dashboard_menu ul{
  margin-top: 50px;
  padding-left: 0;
}

.dashboard_menu li{
  list-style-type: none;
  overflow: hidden;
  background-color: #B22222;
  width: 200px;
  height: inherit;
  color: white;
  line-height: 35px;
  text-align: center;
  font-size: 16pt;
  margin-bottom: 5px;
}



.recommendEvents_container{
  position: relative;;
  top: 50px;
  width: 100%;
  height: 348px;
  background-color: white;
}

.myEvents_container{
  display: inline-block;
  top: 40px;
  margin-top: 30px;
  position: relative;
  width: 55%;
  height: 348px;
  background-color: white;
}

.myCalendar_container{
  display: inline-block;
  top: 40px;
  margin-top: 30px;
  position: relative;
  float: right;
  width: 40%;
  height: 348px;
  background-color: white;
}



#dash_board_logo{
  position: absolute;
  font-weight: 400;
  font-style: normal;
  font-family: "Gravitas One";
  line-height: inherit;
  font-size: 64px;
  padding-left: 20px;
  color: white;
}


.menu_button{
  margin:10px;
  float: right;
  width: 45px;
  height: 45px;
  background-image: url("/events/images/menu_icon.png");
}

#NJIT_logo{
    padding-top: 45px;
    padding-left: 350px;
    display: inline-block;
}


#top_row{
  overflow: hidden;
  width: 840px;
  height: 300px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.createEvent_container{
  background-color: #8B0000;
  position: absolute;
  z-index: 100;
  top:200px;
  left: 256px;
  width: 512px;
  height: 460px;
}

.form_button_wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 35px;
}
