
.profile_image{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: 'url(/~tr88/events/images/default_user.jpg)';
    float: right;
    margin-right: 65px;
    margin-top: 5px;
    cursor: pointer;
}

.profile_container{
  visibility: visible;
  position: absolute;
  top: 100px;
  z-index: 1000000;
  width: inherit;
  height: inherit;
  padding: 10px;
  background-color: white;
}

.profile_container #profile_close_icon{
  float: right;
  margin: 5px;
  cursor: pointer;
}


.profile_info_container{
  margin-top: 45px;
  width: inherit;
  height: 120px;
  overflow: hidden;
}

.profile_info_container .user_info{
  display: inline-block;
  width: 300px;
  left: 120px;
  height: inherit;
}
.profile_image_full{
  margin: 10px;
  width: 100px;
  height: 100px;
}

.profile_info_container .user_info table{
  padding: 5px;
}

.profile_info_container .user_info table td{
  font-size: 14pt;
}

.profile_container h1{
  font-size: 14pt;
  margin: 0px;
}
.profile_container #tags{
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.profile_container #profile_selected_tags{
  display: inline-block;
  width: 50%;
  height: inherit;
  background-color: white;
}

.profile_container #all_tags_container{
  float: right;
  display: inline-block;
  width: 50%;
  height: inherit;
  background-color: blue;
}

.profile_container #profile_tags_selection{
  width: 100%;
  height: 70%;
  background-color: red;
}

.profile_container #tags_bar{
  width: 100%;
  height: 30%;
  background-color: green;
}

.profile_container #tags_bar input{
  display: inline-block;
  padding-left: 20px;
  height: 60%;
  width: 250px;
  line-height: inherit;
  font-size: 16pt;
}

.profile_container #tags_bar button{
  width: 100px;
  height: 100%;
  float: right;
  margin-right: 10px;
  display: inline-block;
}

.profile_container #bio{
    padding: 10px;
    width: 50%;
    height: 120px;
    float: right;
    margin-right: 50px;
}

.profile_view_freinds_container{
  width: 100%;
  height: 200px;
  margin-top: 25px;
  background-color:  #000033;
}

.profile_view_freinds_container button{
  margin-top: 5px;
  display: inline-block;
  height: 25px;
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}

.profile_view_freinds_container input{
  float: left;
  margin-top: 3px;
  display: inline-block;
  height: 15px;
  font-size: 12pt;
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}


.inner_header{
  width: 100%;
  height: 35px;
  font-size: 16pt;
  line-height: 25px;
  color: white;
  background-color: red;
}
