div.sign_up_box{
    width: 504px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    font-family: "Gravitas One";
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.account_picker{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 350px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.account_picker :first-child {
  background-color: red;

}


.account_picker button{
  height: 35px;
  width: 175px;
  border: 1px solid #999;
  background-color:grey;
  font-size: 14pt;
  font-weight: normal;
  color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


#join_button{
    width: 175px;
    display: block;
    border: 1px solid #999;
    height: 40px;
    background-color:red;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.individual_sign_up_form{
  width: inherit;
  position: absolute;
  visibility: visible;
}

.organization_sign_up_form{
  width: inherit;
  position: absolute;
  visibility: collapse;
}
