.container_wrapper{
  width: 512px;
  margin-left: auto;
  margin-right: auto;
}


.profile_creater_container{
    position: absolute;
    padding: 20px;
    margin-top: 20px;
    width: 512px;
    background-color: white;
    right: auto;
    left: auto;
}

.profile_creater_container textarea{
  line-height: 35px;
  max-width: 512px;
  max-height: 200px;
  word-wrap: break-word;
  height: 200px;
  width: 100%;
}


.profile_creater_container button{
  float: right;
  margin: 10px;
  width: 100px;
  height: 40px;
}
.selected_tags{
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  width: inherit;
  height: 100px;
}

.hashtags{
    width: inherit;
}
.tag_selection{
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  width: 512px;
  height: 200px;
}

.custom_tag_container{
    width: 100%;
    height: 25px;
}

.custom_tag_container input{
    float: left;
    height: inherit;
    width: 150px;
    font-size: 12pt;
    line-height: inherit;
    padding: 0px;
    padding-left: 5px;
}

.custom_tag_container button{
    float: left;
    margin-top: 0px;
    padding: 5px;
    height: inherit;
    width: 80px;
}
