<!DOCTYPE html>
<html>
<head>
    <title>EVENTS</title>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <script type="text/javascript" src="script/landing.js"></script>
</head>
<body>

    <div id="login_box" class="login_box">
        <div id="events_logo">
            EVENTS!
        </div>
        <div id="login_form">
            <div id="input_area">
            <input  type="text" id="user" name="user" value="username"  onfocus="clearText(this)" onblur="resetText(this)"></input>
            <input  type="text" id="pass" name="pass" value="password"  onfocus="clearText(this)" onblur="resetText(this)"></input>
            </div>
        </div>
        <button id="login_button" onClick="login()">Login</button>
    </div>

    <div id="sign_up">
        <a onmouseover="highlight(this)" onmouseout="unHighlight(this)" href="http://r25livepr1.njit.edu/calendar/">Join EVENTS! @ NJIT</a>
    </div>
    <div id="NJIT_logo">
        <a href="http://www.njit.edu/">
            <img src="http://www.njit.edu/corporate/uicomponents/images/logo.png" alt="NJIT LOGO"></img>
        </a>
    </div>
</body>
</html>
