<!DOCTYPE html>
<html>
<head>
    <title>EVENTS</title>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <script type="text/javascript" src="script/landing.js"></script>
</head>
<body>
    <div id="login_box" class="login_box">
        <form id="login_form" action="" method="POST">
            <div id="input_area">
            <input  type="text" name="user"></input>
            <input  type="password" name="pass"></input>
            </div>
        </form>
        <button id="login_button" onClick="sayHello()">Login</button>
    </div>

    <div id="sign_up">
        <a href="http://r25livepr1.njit.edu/calendar/">Join EVENTS @ NJIT !</a>
    </div>

</body>
</html>
